<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container-fluid panel panel-default dashboard-container">
            <div class="row">
                <div class="col-sm-7">
                    <h3>Neustes Objekt für WBA2 hinzufügen</h2>
                    <div class="panel panel-default objekt latest-objekt">
                        <div class="panel-heading">
                            <a href="/objekt/<%= objektList[0].id%>">
                                <%= objektList[0].title%>
                            </a>

                        </div>
                <div class="col-sm-5">
                    <h3>Beliebte Tags:</h3>
                    <div id="tag-cloud">
                        <% for (tag in tagData){%>
                            <span data-weight="<%=tagData[tag] * 20 %>"><a href="search/<%=tag %>"> <%=tag %> </a></span>
                        <% }%>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <% for(var i=1; i<objektList.length; i++) {%>
                        <div class="panel panel-default objekt">
                            <div class="panel-heading">
                                <a href="/objekt/<%= objektList[i].id%>">
                                    <%= objektList[i].title%>
                                </a>
                            </div>
                            <div class="panel-body container-fluid">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <%= objektList[i].description%>
                                    </div>
                                    <div class="col-sm-3">
                                        <select multiple class="objekt-tags" disabled="disabled">
                                            <% for(var j=0; j<objektList[i].tags.length; j++) {%>
                                                <option value="<%= objektList[i].tags[j] %>"><%= objektList[i].tags[j] %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $(document).ready(function(){
           initTagFieldsOnPage();
           loadTagCloud();
        });
    </script>

</body>

</html>