<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container-fluid panel panel-default search-container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="input-group search-inputgroup">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" id="input-search" class="search-query form-control" placeholder="Suche" <%if (searchTerm !=="" ) { %>value="<%= searchTerm %>"
                                    <%}%>/>

                                        <span class="input-group-btn">
                                        <button class="btn btn-default" id="btn-search" type="button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <%if (videoList.length !== 0) { %>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-group">
                        
                        <% for(var i=0; i<videoList.length; i++) {%>
                            <div class="panel panel-default video">
                                <div class="panel-heading">
                                    <a href="/video/<%= videoList[i].id%>">
                                        <%= videoList[i].title%>
                                    </a>
                                </div>
                                <div class="panel-body container-fluid">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <%= videoList[i].description%>
                                        </div>
                                        <div class="col-sm-3">
                                           <select multiple class="video-tags" disabled="disabled">
                                            <% for(var j=0; j<videoList[i].tags.length; j++) {%>
                                                <option value="<%= videoList[i].tags[j] %>"><%= videoList[i].tags[j] %></option>
                                            <% } %>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>               
                    </div>
                </div>
            </div>
            <% } else { %>
                <div class="row">
                    <div class="column-sm-12">
                        <div class="alert alert-info">
                            Keine Videos zum Suchbegriff gefunden
                        </div>    
                    </div>
                </div>
            <% } %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $(document).ready(function () {
            
            initTagFieldsOnPage();
            $("#btn-search").on("click", function () {
                window.location = '/search/' + $('#input-search').val();
            });
        });
    </script>

</body>

</html>