<!-- views/pages/register.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="panel panel-default main-panel ">
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="video-container">
                                <h3><%= video.title%></h3>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= video.youtubeId%>" frameborder="0" allowfullscreen></iframe>
                                <input class="hidden" type="text" id="videoId" value="<%= video.id%>" />
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <h3>Beschreibung:</h3>
                            <div class="video-description">
                                <%= video.description%>
                            </div>
                            <h3>Tags:</h3>
                            <div>
                                <input type="text" class="video-tags" value="<%= video.tags%>"  disabled="disabled" />
                            </div>

                        </div>
                    </div>
                    <% if(video.uploader === currentUserId) { %>
                        <div class="row">
                            <div class="col-sm-12 button-bar">
                                <div class="buttonbar">
                                    <button type="button" class="btn btn-success" id="btn-edit">Bearbeiten</button>
                                    <button type="button" class="btn btn-success" id="btn-delete">Löschen</button>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </section>
            <section>
                <h2>Kommentare:</h2>
                <div id="comment-container">
                    
                </div>
                <div class="panel panel-default comment-container new-comment-container">
                        <div class="panel-heading">Neuer Kommentar:</div>
                        <div class="panel-body">
                            <textarea placeholder="Kommentar ..." id="new-comment-text"></textarea>
                            <div>
                                <button type="button" class="btn btn-success" id="btn-add-comment">Absenden</button>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $(document).ready(function () {
            initTagFieldsOnPage();
            $("#btn-edit").on("click", function () {
                window.location = window.location.pathname + '/edit';
            });
            $("#btn-delete").on("click", function () {
                window.location = window.location.pathname + '/delete';
            });

            $("#btn-add-comment").on("click", addComment);
            //Initiales laden der Kommentare anstoß
            loadCommentData();
        });
    </script>
</body>

</html>