<!-- views/pages/register.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="panel panel-default main-panel ">
            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="video-container">
                                <h3>Videotitle:</h3>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Videotitel" id="video-title" value="<%= video.title%>" maxlength="40">
                                </div>
                                <input class="hidden" type="text" id="videoId" value="<%= video.id%>" />
                                <div class="video-input-container">
                                    <h3>Video:</h3>
                                    <% if(isEdit){%>
                                        <iframe class="" id="youtubeIframe" width="560" height="315" src="https://www.youtube.com/embed/<%= video.youtubeId%>" frameborder="0" allowfullscreen></iframe>
                                        <% } else {%>
                                            <div id="idInputContainer">
                                                <div class="input-group">
                                                    <input type="text" placeholder="Youtube ID" class="form-control" id="youtubeId">
                                                    <span class="input-group-btn">
                                        <button class="btn btn-default" id="btn-search" type="button">
                                            <span class="glyphicon glyphicon-ok" id="btn-confirm-id"></span>
                                                    </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <iframe class="hidden" id="youtubeIframe" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>

                                            <%}%>
                                </div>


                            </div>


                        </div>
                        <div class="col-sm-5">
                            <h3>Beschreibung:</h3>
                            <textarea class="form-control" rows="5" maxlength="200" id="video-description"><%= video.description%></textarea>
                            <h3>Tags:</h3>
                            <div class="video-tags">
                                   <select multiple class="video-tags" disabled="disabled">
                                            <% if(isEdit){ for(var j=0; j<video.tags.length; j++) {%>
                                                <option value="<%= video.tags[j] %>"><%= video.tags[j] %></option>
                                            <% }} %>
                                        </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 button-bar">
                            <div class="buttonbar">
                                <%if(isEdit){%>
                                    <button type="button" class="btn btn-success" id="btn-edit-video">Speichern</button>
                                    <%} else {%>
                                        <button type="button" class="btn btn-success" id="btn-save-video">Speichern</button>
                                        <% }%>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script>
        $(document).ready(function () {
            
            initTagFieldsOnPage();

            $("#btn-confirm-id").on("click", function () {
                var _youTubeId = $('#youtubeId').val();
                if (_youTubeId != undefined && _youTubeId !== '') {
                    $('#idInputContainer').addClass('hidden');
                    $('#youtubeIframe').removeClass('hidden');
                    $('#youtubeIframe').attr('src', 'https://www.youtube.com/embed/' + _youTubeId);
                }

            });
            $("#btn-save-video").on("click", function () {
                var _videoData = {};
                _videoData.title = $('#video-title').val();
                _videoData.youtubeId = $('#youtubeId').val();
                _videoData.description = $('#video-description').val()
                //Hier muss .val() verwendet werden da die Tags nicht aus HTML eingelesen werden sondern als JS Objekte
                _videoData.tags = $('.video-tags').val();
                $.ajax({
                    type: "POST"
                    , url: '/new/video'
                    , data: _videoData
                    , success: function (data) {
                        if (data.videoAdded) {
                            window.location = data.redirect;
                        } else {
                            //DO ERROR STUFF
                        }
                    }
                    , dataType: 'JSON'
                });
            });

            $("#btn-edit-video").on("click", function () {

                var _videoId = $('#videoId').val();
                var _videoData = {};
                _videoData.title = $('#video-title').val();
                _videoData.description = $('#video-description').val()
                _videoData.tags = $('.video-tags').val();

                $.ajax({
                    type: "PATCH"
                    , url: '/video/' + _videoId + '/edit'
                    , data: _videoData
                    , success: function (data) {
                        if (data.videoEdited) {
                            window.location = data.redirect;
                        } else {
                            //DO ERROR STUFF
                        }
                    }
                    , dataType: 'JSON'
                });
            });
        });
    </script>
</body>

</html>